body {
    background: #483978;
    background: black;
    background: #1b0739;
}


.full-width {
    width: 100%;
}

.section-width {
    width: 85vw;
    text-align: justify;
}

.row-width {
    width: 85%;
    background: #ac61b9;
    background: #1b0739;
}

.full-height {
    height: 100vh;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ############### Font Styles + Sizing ################## */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-family: "Rubik";
    font-weight: 300;
}

h1, h3, h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 7.5vw;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.35rem;
    margin-bottom: 0rem;
}

h2 {
    font-family: 'Rubik';
    font-size: 4vw;
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 400;
    letter-spacing: .08rem;
    opacity: 0.8;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 600;
    letter-spacing: 0.188rem;
}

h4 {
    letter-spacing: .08rem;
    font-weight: 500;
    font-family: "barlow";
}

p {
    font-family: "Barlow";
    font-size: 1.3rem;
}


#intro-text {
    font-family: "Rubik";
    font-size: 1.62rem;
    font-weight: 400;
    line-height: 1.8;
    text-align: left;

    padding-top: 22px;
    width: 100%;
}

hr {
    width: 20%;
}

/* ############### Button Styles ################## */
.btn {
    /* font-family: Montserrat, sans-serif; */
    font-size: 1rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    font-weight: 500;
    background: #f86d58;
    border: transparent;
}

.contact-btn {
    transition: 0.3s ease-out;
}

.btn-cover:hover{
    background: #f87b66;
    border-radius: 999em;
    transition: 0.3s ease-in;
}





/* ############### Navbar + Intro ################## */
nav {
    box-shadow: rgb(45, 163, 169) 0px 3px 5px 0px;
}

.nav-link {
    font-size: 1.35rem;
    color: rgb(0, 255, 252);
    opacity: 0.7;
    transition: 0.125s ease-in;
}

.nav-link:hover {
    color: #f86d58;
    opacity: 1;
    transition: 0.125s ease-in;
}

#intro-div {
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    box-shadow: 0 0 2rem 0.063rem #1b0739;
}

.modal-content {
    border-radius: 0;
}

.logo-img {
    box-shadow: 0px 0px 0px 5px #2DA3A9;
    border-radius: 50%;
    transition: 0.3s ease-in;
    width: 13rem;
}

.logo-img:hover {
    box-shadow: none;
    transition: 0.3s ease-in;
}

#logo-one:hover, #logo-two:hover {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* ############### Project Cards ################## */
.card {
    margin: 0 0px 15px 0px;
}

.card, .thanks-card {
    border-radius: 0;
    box-shadow: 0 0 50px 1px #ac61b9;
}

.card:hover {
    transform: rotateY(180deg);
}

#footer-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff9f1;
    border-radius: 50%;
}

.social {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-icon{
    color: #161b22;
}


/* ================================= */

.cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
  
    width: 90%;
    margin: 2rem 0;
    z-index: 1;
}

.card-container {
    /* height: 50vw;
    width: 50vw; */
    /* height: 40vh; */
    /* width: 80%; */
    height: 40vh;
    z-index: 1;
    perspective: 1000px;
    margin: 0 0 3.5rem;
}

.card-container:nth-child(3){
    margin-bottom: 0;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .8s linear;
    box-shadow: 0 0 50px 1px #ac61b9;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-img {
    height: 90%;
    width: 90%;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #1b0739;
    backface-visibility: hidden;

    width: 100%;
    height: 100%;
}

.back {
    display: block;
    align-items: center;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    opacity: 0.8;
    background: #fbefdf;
}

.thanks-card {
    width: 50%;
}



/* ############### Footer + Contact Form ################## */
#footer-div {
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    box-shadow: 0 0 2rem 0.063rem #1b0739;
}

#contactModalLabel{
    color: #000;
    font-family: "Rubik";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    opacity: 0.6;
}

input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
}

.input-container, .input-group-text {
    /* border: 1.75px solid #1b0739; */
    border: transparent;
}

.textarea-label {
    font-family: 'Montserrat', sans-serif;
}



.social-modal {
    border-radius: 12px;
}

#social-modal-text {
    text-align: center;
    font-size: 1.25rem;
}

#socialModalLabel {
    font-family: "Rubik";
    font-weight: 500;
    text-transform: uppercase;
    color: #f86d58;
}


/* ############ project cards ################ */

#project-cards {
    width: 90vw;
}

.project-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.project-card {
    width: calc(100%/4);
    width: 80%; 
    margin: 0 1.5rem;
    border: 2px solid #1b0739;
}

.carousel-control-prev-icon {
    margin-right: 35px;
}

.carousel-control-next-icon {
    margin-left: 35px;
}

.project-title{
    font-weight: 600;
    font-size: 1.65rem;
}

.project-btn-cover {
    border-top: 2px solid #1b0739;
}

.project-btn-cover:first-child {
    border-right: 2px solid #1b0739;
}

.project {
    border: 1px solid #1b0739;
}

.project-btn {
    width: 100%;
    overflow: hidden;
    border-radius: 0;
}


.project-link {
    color: #fff;
    opacity: 0.75;
}

.project-link:hover {
    color: #f86d58;
    /* text-decoration: none; */
}


.text-box {
    width: 90%;
}

.img-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
}

.project-img {
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
}

.project-card:hover .img-box img {
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

.project-card {
    background: #FFFFFF;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

.project-card:hover{
    background: #fff;
    box-shadow: 0 0 50px 1px #ac61b9;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


.project-text {
    font-size: 1.15rem;
}

#social-wrapper {
    width: 40%;   
}

.social-icon {
    transition: 0.3s;
}

.social-icon:hover {
    color: #5793ac; 
    text-decoration: none;
}






#projects-grid, #skills-grid{
    list-style: none;
}

.row {
    display: flex;
    justify-content:center;
}

.folder-svg {
    width: 30%;
}

#skills-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-content{
    padding: 20px;
}

.project {
    background:#483978;
    min-width: 25%;
    margin: 1.375rem 1.375rem 0rem 1.375rem;
}

.skill-pill {
    border: 3px solid #fbefdf;
    padding: 0 20px 0 20px;
    border-radius: 999em;
}



.skill-text {
    font-size: .8rem;
}



.checkbox {
    width: 20px;
    background: #2DA3A9;
}

.checkmark-svg {
    width: 22%;
    overflow: visible;
}

.skill-title {
    font-family: "rubik";
    font-size: 16px;
    font-weight: 500;
    margin-right: 22%
}

.skill-img {
    width: 25%;
    transition: all 0.5s ease-in;
}

.project-title {
    color: #fff9f1;
    opacity: 0.9;
    transition: all 0.5s ease-in;
}

.project-title-hover {
    color: #64ffda;
}


.sm-text {
    font-size: 1rem;
}

#twSpan {
    animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}

/* ##########################################################
                        Contact
########################################################### */

#opacity {
    background: #fff9f1;
    width: 58%;
}

#contact-modal {
    border-radius: 12px;
}
#name-text {
    font-size: 1.15rem;
}
#name-span {
    font-family: 'Leckerli One', cursive;
}

/* ==================================== MEDIA QUERIES ======================================= */


@media (min-width 0px) {
    #intro {
        position: static;
        background: #483978;
        visibility: visible;
    }

    #particles-js {
    visibility: hidden;
    }
    
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .card-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* .card-wrapper {
        width: 90%;
        background: pink;
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */

    .card:nth-child(2){
        margin-right: 35px;
        margin-left: 35px;

    }

    .card {
        margin-bottom: 0;
    }

}


/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) { 
    .section-width {
        width: 70vw;
    }



  
}

@media (min-width: 992px) { 
    .section-width {
        width: 45vw;
    }


}

@media (min-width: 1400px) { 
    /* .section-width {
        width: 45vw;
    } */

    /* .project {
        min-width: 0px;
        max-width: 30%;
    } */



}